* {
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
}

.nav {
	-webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 100;
	background-color: white;
}

header {
	background-image: url(../assets/header.jpg);
	background-size: cover;
	background-position: center center;
	filter: contrast(80%);
}

header h1{
	color: white;
}

header ul li {
	list-style: none;
}

header hgroup h3 {
	color: white;
}

article {
	border: 1px solid black;
}
