* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

/* Custom Class-less version for React */

.nav {
  -webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: white;
}

header {
  /* background-image: url(../assets/header.jpg)
  ; */
  background-color: aquamarine;
  background-size: cover;
  background-position: center center;
  filter: contrast(80%);
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
  min-height: 20vh;
  text-align: center;
  padding: 1em;
}

header div input{
  max-width: 70%;
}

#content{
  padding: 5em 0 5em 0;
}

#content section{
  padding: 1em;
}

#sect_service{
  text-align: center;
  padding: 1em;
}

/* Map */

#sect_location{
  margin-top: 5em;
}

#sect_location ul li{
  list-style-type: none;
}

.map {
  min-height: 35vh;
  min-width: 100%;
  background-color: teal;
}

.map iframe {
  height: auto;
  width: auto;
}

footer {
  background-color: lightcyan;
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
